<tr data-link="<%= board_path(board) %>" onclick="window.location = this.dataset.link" >
  <td class="px-4">
  <%= link_to board.name, board_path(board) %>
  </td>
  <td class="text-right px-4">
    <%= dimensions(board) %>
  </td>
  <td class="text-right px-4">
    <%= board.mines %>
  </td>
  <td class="px-4">
    <%= board.email %>
  </td>
  <td class="px-4">
    <%= ago(board) %>
  </td>
</tr>
