<% if notice.present? %>
  <p class="id='notice' mb-5 bg-teal-60 text-teal-500 font-medium rounded-lg inline-block">
    <%= notice %>
  </p>
<% end %>
<div class="mb-7">
<h2 class="font-bold text-lg"><%= @board.name %></h2>
<em>
  <%= time_ago_in_words(@board.created_at) + " ago" %>
</em>
</div>

<p>
  <strong>Email</strong>
  <%= mail_to @board.email %>
</p>
<p>
  <strong>Dimensions</strong>
  <%= dimensions(@board) %>
</p>
<p>
  <strong>Mines</strong>
  <%= @board.mines %>
</p>
<div class="whitespace-pre leading-none mt-2">
<%= @board.render_grid %>
</div>
<br>
<%= link_to 'Back', :back, class: "btn-primary" %>
