<!DOCTYPE html>
<html>
  <head>
    <title>Mysweeper</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <a href="/">
      <header class="container mx-auto mt-8 px-5 flex items-center">
        <h1 class="px-4 py-2 font-bold text-lg bg-amber-200">Mysweeper</h1>
        <div class="px-4 font-medium">
          <em>
            Generate your own Minesweeper boards!
          </em>
        </div>
      </header>
    </a>

    <%#<main class="container mx-auto mt-28 px-5 flex"> %>
    <main class="container mx-auto mt-16 px-5">

      <%= yield %>
    </main>

  </body>
</html>
